

.d-flx { display: flex; }
.fd-row { flex-direction: row; }
.fd-col { flex-direction: column; }
.fw-w { flex-wrap: wrap; }

.fG-1 { flex-grow: 1;}

.d-none { display: none; }
.d-block { display: block; }
.d-in-block { display: inline-block; }


/* horizontal alligment  */
.jC-S { justify-content: start; }
.jC-FE { justify-content: end; }
.jC-C { justify-content: center; }
.jC-SB { justify-content: space-between; }
.jC-SA { justify-content: space-around; }
.jC-SE { justify-content: space-evenly; }

/* vertical allignment  */
.aI-S { align-items: start; }
.aI-E { align-items: end; }
.aI-C { align-items: center; }
.aI-B { align-items: baseline; }
.aI-stretch { align-items: stretch; }

/* gap values  */
.g5 { gap: 5px; }
.g8 { gap: 8px; }
.g10 { gap: 10px; }
.g12 { gap: 12px; }
.g15 { gap: 15px; }
.g20 { gap: 20px; }
.g25 { gap: 25px; }
.g30 { gap: 30px; }


/* position properties  */
.absolute { position: absolute; }
.relative { position: relative; }
.sticky { position: sticky; }
.fixed { position: fixed; } 


/* overflow options   */
.overflow-x-auto { overflow-x: auto; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-auto { overflow-y: auto; }
.overflow-y-hidden { overflow-y: hidden; }


