
:root{
    --h-primaryheader : 80px;
    --h-secondaryheader : 40px;
    --h-mobile-navbar: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
	font-family: var(--font-regular);
	background-color: var(--c-white);
	color: var(--c-grey);
	line-height: 1.4;
    text-align: left;
}

ul li { list-style: none; list-style-type: none; }
a { text-decoration: none; cursor: pointer; }
h1, h2, h3, h4, h5, h6 { color: var(--c-black); }

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.to-top{
    font-size: 20px;
    padding: 10px;
    color: var(--c-white);
    background-color: var(--c-primary);
    border-radius: 100%;
    position: fixed;
    bottom: 6%;
    right: 6%;
    z-index: 2;
}



