

/* dropdown  */
.sub-menu{
    padding: 30px 10px 10px 10px;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 2;
    visibility: hidden;
}

.submenu-item{
    width: 130px;
    padding: 10px;
}

.submenu-item:hover{
    color: var(--c-primary);
    transition: var(--default-trans);
}

