/* secondary navbar  */

.secondary-navbar-container{
    height: var(--h-secondaryheader);
    background-color: var(--c-primary);
    color: var(--c-white);
    position: relative;
}

.secondary-navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.socials-button-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* primary navbar  */
.primary-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--h-primaryheader);
}

.primary-navlist{
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: var(--font-semibold);
    color: var(--c-grey-200);
}

.primarynav-item:hover > .primary-navlink{
    color: var(--c-primary);
}


/*  mobile view - navbar  */
.mobile-navbar{
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.mobile-navbar-menulists{
    display: none;
    width: 100%;
    background-color: var(--c-white);
    color: black;
    position: absolute;
    top: var(--h-mobile-navbar);
    left: 0;
    z-index: 2;
}

.mobile-navbar-menulists.toogleopen{
    display : block;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    font-family: var(--font-semibold);
    border-bottom: 1px solid var(--c-white-200);
}

.menu-link{
    transition: var(--default-trans);
}

.menu-item:hover .menu-link{
    color : var(--c-primary)
}
.menu-item:hover{
    background-color : var(--c-white-100);
}

