

@media screen and ( max-width: 1400px ) {

    .col-xxl-1 { flex: 0 0 8.33%;  width: 8.33%; }
    .col-xxl-2 { flex: 0 0 16.67%; width: 16.67%; }
    .col-xxl-3 { flex: 0 0 25%;    width: 25%; }
    .col-xxl-4 { flex: 0 0 33.33%; width: 33.33%; }
    .col-xxl-5 { flex: 0 0 41.67%; width: 41.67%; }
    .col-xxl-6 { flex: 0 0 50%;    width: 50%; }
    .col-xxl-7 { flex: 0 0 58.33%; width: 58.33%; }
    .col-xxl-8 { flex: 0 0 66.67%; width: 66.67%; }
    .col-xxl-9 { flex: 0 0 75%;    width: 75%; }
    .col-xxl-10 { flex: 0 0 83.33%; width: 83.33%; }
    .col-xxl-11 { flex: 0 0 91.67%; width: 91.67%; }
    .col-xxl-12 { flex: 0 0 100%;   width: 100%; }

}

@media screen and ( max-width: 1200px ) { 

    .col-xl-1 { flex: 0 0 8.33%;  width: 8.33%; }
    .col-xl-2 { flex: 0 0 16.67%; width: 16.67%; }
    .col-xl-3 { flex: 0 0 25%;    width: 25%; }
    .col-xl-4 { flex: 0 0 33.33%; width: 33.33%; }
    .col-xl-5 { flex: 0 0 41.67%; width: 41.67%; }
    .col-xl-6 { flex: 0 0 50%;    width: 50%; }
    .col-xl-7 { flex: 0 0 58.33%; width: 58.33%; }
    .col-xl-8 { flex: 0 0 66.67%; width: 66.67%; }
    .col-xl-9 { flex: 0 0 75%;    width: 75%; }
    .col-xl-10 { flex: 0 0 83.33%; width: 83.33%; }
    .col-xl-11 { flex: 0 0 91.67%; width: 91.67%; }
    .col-xl-12 { flex: 0 0 100%;   width: 100%; }

    /* title sizes */
    .title-l { font-size: 30px }
    .title-s { font-size: 14px }

    /* content sizes  */
    .content-l { font-size: 18px;}
    .content-m { font-size: 16px;}
    .content-s { font-size: 14px;}
    
    .service-feature-text{ font-size: 30px; }
}

@media screen and ( max-width: 992px ) {

    .col-lg-1 { flex: 0 0 8.33%;  width: 8.33%; }
    .col-lg-2 { flex: 0 0 16.67%; width: 16.67%; }
    .col-lg-3 { flex: 0 0 25%;    width: 25%; }
    .col-lg-4 { flex: 0 0 33.33%; width: 33.33%; }
    .col-lg-5 { flex: 0 0 41.67%; width: 41.67%; }
    .col-lg-6 { flex: 0 0 50%;    width: 50%; }
    .col-lg-7 { flex: 0 0 58.33%; width: 58.33%; }
    .col-lg-8 { flex: 0 0 66.67%; width: 66.67%; }
    .col-lg-9 { flex: 0 0 75%;    width: 75%; }
    .col-lg-10 { flex: 0 0 83.33%; width: 83.33%; }
    .col-lg-11 { flex: 0 0 91.67%; width: 91.67%; }
    .col-lg12 { flex: 0 0 100%;   width: 100%; }

    /* navbar section  */
    .primary-navbar, .secondary-navbar{ display: none; }
    .secondary-navbar-container{ height: var(--h-mobile-navbar); }
    .mobile-navbar{ display: flex; }

    /* about section  */
    .about-section{
        flex-direction: column;
        gap: 30px;
    }

    /* service features section  */
    .flip-cards-container{ flex-wrap: wrap; }

    /* blog section  */
    .article-cards-container{
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and ( max-width: 768px ) { 

    .col-md-1 { flex: 0 0 8.33%;  width: 8.33%; }
    .col-md-2 { flex: 0 0 16.67%; width: 16.67%; }
    .col-md-3 { flex: 0 0 25%;    width: 25%; }
    .col-md-4 { flex: 0 0 33.33%; width: 33.33%; }
    .col-md-5 { flex: 0 0 41.67%; width: 41.67%; }
    .col-md-6 { flex: 0 0 50%;    width: 50%; }
    .col-md-7 { flex: 0 0 58.33%; width: 58.33%; }
    .col-md-8 { flex: 0 0 66.67%; width: 66.67%; }
    .col-md-9 { flex: 0 0 75%;    width: 75%; }
    .col-md-10 { flex: 0 0 83.33%; width: 83.33%; }
    .col-md-11 { flex: 0 0 91.67%; width: 91.67%; }
    .col-md-12 { flex: 0 0 100%;   width: 100%; }

    .service-feature-text{ font-size: 25px; }

    /* contact section  */
    .contact-section-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-content-area{
        align-items: center;
        padding: 30px;
    }

    .contact-text{ text-align: center; }

    /* team members section  */
    .team-members-header{ flex-direction: column; }

}

@media screen and ( max-width: 576px ) { 

    .col-sm-1 { flex: 0 0 8.33%;  width: 8.33%; }
    .col-sm-2 { flex: 0 0 16.67%; width: 16.67%; }
    .col-sm-3 { flex: 0 0 25%;    width: 25%; }
    .col-sm-4 { flex: 0 0 33.33%; width: 33.33%; }
    .col-sm-5 { flex: 0 0 41.67%; width: 41.67%; }
    .col-sm-6 { flex: 0 0 50%;    width: 50%; }
    .col-sm-7 { flex: 0 0 58.33%; width: 58.33%; }
    .col-sm-8 { flex: 0 0 66.67%; width: 66.67%; }
    .col-sm-9 { flex: 0 0 75%;    width: 75%; }
    .col-sm-10 { flex: 0 0 83.33%; width: 83.33%; }
    .col-sm-11 { flex: 0 0 91.67%; width: 91.67%; }
    .col-sm-12 { flex: 0 0 100%;   width: 100%; }

    .title-l { font-size: 25px }

    .service-feature-text{
        font-size: 18px;
        line-height: 1.4;
        padding: 10px;
        font-family: var(--font-bold);
    }

    .footer-content{ justify-content: start; }
    .footer-subsections{ width: 100%; }

}